@media screen and (max-width:767px){
body{
    margin:none;
    padding: none;
    background-color: black;
}

header{
    display: flex;
    flex-direction: column;
    height: 10vh;
    width:100vw
}

#logo{
    width: 10rem;
    height: 10rem;
    margin:5vh auto;
    margin-top: 0vh;
}

ul{
    display: flex;
    flex-direction: column;
    list-style-type: none ;
    height: 1.2rem;
    width: 80vw;
    margin-bottom:5vh ;
}


li{
    width: fit-content;
    margin-right: 2vh;
    font-size: 1.2rem;
    font-family: Coolvetica Rg;
    white-space: nowrap;
    margin-bottom:2vh;
    display: flex;
    justify-content: center;
    align-self: center;

}
a{
    text-decoration: none;
    
}
a:link{
    color:white;
}
a:visited{
    color:white
}
a:hover{
    font-size: larger;
    color: rgb(106, 238, 106)
}
a:active{
    color:red;
}



h1{
    height: 20vh;
    width: 90vw;
    color: white;
    font-family: Coolvetica Rg;
    font-size: 2rem;
    font-weight: 220;
    display: flex;
    text-align: justify center;
    margin-top:32rem;
    margin-left: 5vw;
    margin-right: 5vw;

    

}
}