@media screen and (min-width:768px){
body{
        margin:none;
        padding: none;
        background-image: url("https://img.itch.zone/aW1nLzEyMTkxMTQwLnBuZw==/original/ALYiiE.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    header{
        display: flex;
        flex-direction: row;
        height: 10vh;
        width:100vh
    }

    nav{
        display:flex;
        justify-content: center;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none ;
    }
    li{
        width: fit-content;
        padding-right: 5vh;
        font-family: Coolvetica Rg;
        white-space: nowrap;
        margin-bottom: 15vh;

    }
    a{
        text-decoration: none;
        
    }
    a:link{
        color:white;
    }
    a:visited{
        color:white
    }
    a:hover{
        font-size: larger;
        color: rgb(106, 238, 106)
    }
    a:active{
        color:red;
    }

    .dado{
        height: 10px;
        display: flex;
        justify-content: right;
        height: 10vh;
    }
    .dado:hover{
        transform: rotate(180deg);
    }
    #logo{
        height: 5rem;
        width:  5rem;
        display: flex;
        justify-content: right;
    }

    h1{
        height: 2.5rem;
        width: 80vw;
        margin: 10vw auto;
        margin-bottom: 5vw;
        white-space: nowrap;
        font-size: 2.5rem;
        font-family: Coolvetica Rg;
        font-weight: 100;
        color: white;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .resposta{
        margin-top: 1vh;
        font-size: 15vh;
        font-family: Coolvetica Rg;
        color: white;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    #botao{
        margin: 3vh auto;
        margin-top: 5vw;
        width: 12rem;
        height: 10vh;
        color: white;
        font-size: 5vh;
        font-family:Coolvetica Rg;
        display: flex;
        justify-content: center;
        text-align: center;
        border-radius: 10px/30px;
        border-width: 5px;
        background-color: rgb(106, 238, 106);
        border-color: rgb(72, 160, 72);

    }
    #botao:active{
        background-color: red;
        border-color:darkred;
    }
}
