
body{
    margin:none;
    padding: none;
    background-image: url("https://img.itch.zone/aW1nLzEyMTkxMTQwLnBuZw==/original/ALYiiE.png");
}

header{
    display: flex;
    flex-direction: row;
    height: 10vh;
    width:100vh
}

nav{
    display:flex;
    justify-content: center;
}ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none ;
}
li{
    width: fit-content;
    padding-right: 5vh;
    font-family: OswaldBold;
    white-space: nowrap;

}
a{
    text-decoration: none;
    
}
a:link{
    color:white;
}
a:visited{
    color:white
}
a:hover{
    font-size: larger;
    color: rgb(106, 238, 106)
}
a:active{
    color:red;
}

.dado{
    height: 10vh;
    width: 10vh;
    display: flex;
    justify-content: right;
    height: 10vh;
}
.dado:hover{
    transform: rotate(180deg);
}
#logo{
    height: 10vh;
    width: 10vh;
    display: flex;
    justify-content: right;
}

h1{
    height: fit-content;
    margin-top: 15vh;
    white-space: nowrap;
    font-size: 5vh;
    font-family: OswaldBold;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.resposta{
    margin-top: 5vh;
    font-size: 15vh;
    font-family: OswaldBold;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}
#botao{
    margin-top: 0vh;
    width: 30vh;
    height: 10vh;
    color: white;
    font-size: 5vh;
    font-family:OswaldBold;
    text-align: center;
    border-radius: 10px/30px;
    border-width: 5px;
    background-color: rgb(106, 238, 106);
    border-color: rgb(72, 160, 72);

}
#botao:hover{
    background-color: red;
    border-color:darkred;
}
#posicaoBotao{
    text-align: center;
}